/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

body {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

#__next {
  background-color: #000000;
  min-height: 100vh;
}
